.body{
    background-color: #F5F8FF;
}

/* navbar */
.full{
    background-image: url('./Assets/Hero-bg.png');
    background-size: contain;
    /* margin-bottom: 500px; */
    padding: 20px;
 }

.color{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 20px 500px;
    /* padding: 40px ; */
}
.logo{
    color: #4E47FF;
}

.but{
    height: 24px;
    width: 60px;
    /* padding: 0 50px; */
    font-size: 11px;
    border-radius: 5px;
    background-color: #4E47FF;
    color: white;
}

/* 2nd div */

.nav2{
    /* margin-top: 100px; */
}

.first{
    text-align: center;
    font-family: Raleway;
    font-size: 45px;
    font-weight: bold;
    border: 2px solid #4E47FF;
    margin-left: 300px;
    margin-right: 300px;
}

.second{
    text-align: center;
    /* border: 1px ridge #4E47FF; */
}

.but-2{
    height: 40px;
    width: 100px;
    /* padding: 0 50px; */
    font-size: 11px;
    border-radius: 5px;
    background-color: #4E47FF;
    color: white;

}

/* main-body-part */

.web-flow{
    display: flex;
    justify-content: space-between;
    padding: 25px 250px;
}
.but-3{
    height: 24px;
    width: 130px;
    /* padding: 0 50px; */
    font-size: 11px;
    border-radius: 5px;
    background-color: #4E47FF;
    color: white;
}

.army{
    border-style: solid;
    height: 40px;
    width: 265px;
    /* border: 2px solid #4E47FF; */
    border-color: #4E47FF;
    text-align: center;
}

/* productive users */

.productive-users{
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 150px;
    padding: 25px 250px;
    border: 2px solid #4E47FF;
    border-radius: 20px;
    background-color: #a9adec;
    border: none;
}

.users{
    margin-left: 80px;
    font-size: 32px;
    /* justify-content: center; */
}

/* active users section */

.strong{
    font-size: 80px;
    color: #4E47FF;
}

.ash{
    color: #797272;
}

.active-users{
    display: flex;
    justify-content: space-around;
}